*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
}


body{
    font-family: arial;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; /*para que la imagen no se duplique*/
    
}


.form-login{
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

.form-login h3 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.form-login button{
  width:100%;
  padding:10px;
  background:#4d5fff6b;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
}


.form-login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}

.controls{
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 14px;
  font-weight: bold;
}

.server-cargar {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-top: 15px;
}

.server-error {
    background-color: #2c2c2c;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ff4d4d;
    margin-top: 15px;
    text-align: center;
}



